<h1>P-Tech Hackathon Presents: <span style="font-family: Impact, Charcoal, sans-serif; font-size: 45px;">Trailer Battles</span></h1>


<div class="wrapper">
  <h1><%= @movie_one.title %></h1>
  <iframe src=<%= @movie_one.url %> frameborder="0" allowfullscreen></iframe>
  <div class="center">
    <a href="/"<button name="button" type="submit" class="button">Upvote</button></a>
  </div>
</div>

<div class="wrapper">
  <div>
    <h1><%= @movie_two.title %></h1>
    <iframe src=<%= @movie_two.url %> frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="center">
    <a href="/"<button name="button" type="submit" class="button">Upvote</button></a>
  </div>
</div>

<div style="text-align:center; padding: 3em;">
  <a href="/movies"<button name="button" type="submit" class="button">Top 3 Trailers</button></a>
</div>